@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);

html, body {
  height: 100%;
  background: #fff;
  font-size: 14px;
}
.main-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
  margin:45px 10px 10px 10px;
  /*background: #F9F5EF;*/
  position: relative;
}

.main-wrapper:after {
  content: "";
  display: block;
}
.site-footer, .main-wrapper:after {
  height: 142px; 
}
.site-footer {
  /*background: #000;*/
}

/* ======= HEADER SYSTEM ======= */

header {
  height: 85px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  background: transparent;
}
header.inside {
  background-color: rgba(255, 255, 255, 0.7);
}
.top-wrapper {
  position: absolute;
  top: -45px;
  color: #fff;
  width: 100%;
  left: 0;
  padding: 0 10px;
}
.top-wrapper .annoucement {
	
}
a.logo {
	display: block;
	max-width: 160px;
}
a.logo img {
	width: 100%;	
}


/* ======= NAVIGATION SYSTEM =========*/
.navbar-wrapper {
  width: 100%;
}
.navbar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 15px;
  padding-right: 15px;
  border-right: 1.5px solid #5A8794;
  padding-top: 40px;
}
.navbar-wrapper ul:first-child {
  border:none!important;
}
.navbar-wrapper li {
	float: left;
	display: inline-block;
}
.navbar-wrapper ul li a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #548391;
  padding: 10px;
}




.slide-wrapper {
	
}
.slide-wrapper img {
	width: 100%;
}
.caption {
	padding-top: 180px;
}
.caption h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  color: #514A3F;
}
.content {
	
}

